.main-page {
    @media(min-width: $lg) {
        width: 118.4rem;
        padding-left: 25.6rem;
        flex: auto;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem 1.6rem;
        background-color: #F9FAFB;
    }

    &__tabs {
        display: flex;
        flex-direction: column;

        @media(min-width: $lg) {
            flex-direction: row;
        }

        &-item {
            margin-right: 4rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            @media(min-width: $lg) {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                width: 0;
                height: 4px;
                background-color: $mainColor;
                margin-top: 0.8rem;
            }

            & > a {
                display: flex;
                align-items: center;
            }
        }

        &-name {
            text-transform: uppercase;
            font-size: 1.4rem;
            line-height: 2rem;
            margin-right: 0.6rem;

            .active-tab & {
                font-family: $boldFont;

            }
        }

        &-number {
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: #1E40AF;
            background-color: #DBEAFE;
            padding: 0.2rem 1rem;
            border-radius: 4px
        }
    }

    &__btn,
    &__input-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        
        & > span {
            font-weight: 500;
            margin-left: 0.8rem;
        }
    }

    &__btn {
        width: 14rem;
        height: 3.8rem;
        background-color: $thirdColor;
        color: $fourthColor;
        font-size: 1.4rem;
        line-height: 2rem;
        border-radius: 6px;
    }

    &__content {
        display: none;

        &.active-tab {
            display: block;
        }
    }

    &__options {
        background-color: #F9FAFB;
        padding: 0 2rem 0.6rem;
        display: flex;
        flex-direction: column;

        @media(min-width: $lg) {
            flex-direction: row;
        }
    }

    &__input,
    &__input-btn {
        height: 3.8rem;
        font-size: 1.4rem;
        line-height: 2rem;
        border: 1px solid #D1D5DB;
    }

    &__input {
        width: 20rem;
        padding: 0.9rem 1.3rem 0.9rem 4.1rem;
        border-radius: 6px 0 0 6px;
        
        @media(min-width: $lg) {
            width: 30.2rem;
        }

        &-wrap {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            margin-bottom: 1rem;
        }

        &-btn {
            width: 9.8rem;
            color: #374151;
            border-radius: 0 6px 6px 0;
        }
    }

    &__search {
        position: absolute;
        left: 1.2rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &__checks {
        display: flex;
        height: 3.8rem;
    }

    &__check {

        &-btn {
            min-width: 10rem;
            background-color: $fourthColor;
            border: 1px solid #D1D5DB;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $secondaryColor;
        }

        &-in {
            border-radius: 6px 0 0 6px;
        }
    }
    

    &__table {
        width: 100%;
        border-collapse: collapse;
        white-space: nowrap;
        
        &-wrapper {
            overflow: auto;
            padding-bottom: 3.5rem;
        }

        & > thead {
            height: 3.4rem;
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: #687182;

            & > tr > th {
                text-align: left;
                vertical-align: middle;
                background: rgba(247, 249, 252, 0.8);
                backdrop-filter: blur(4px);
                padding-right: 2rem;
                border-top: 1px solid #E5E7EB;
                border-bottom: 1px solid #E5E7EB;
            }
        } 

        & > tbody > tr {
            font-size: 1.4rem;
            line-height: 2rem;
            color: #171C26;

            & > td {
                padding-right: 2rem;
                vertical-align: middle;
                border-bottom: 1px solid #E9EDF5;
                padding: 1.3rem 0 1.3rem 0;

                &:first-child {
                    padding-left: 2rem;
                }
            }
        }

        &-check {
            width: 2.6rem;
            padding-left: 2rem;
        }

        &__name {
            width: 24.2rem;
        }

        &-supplier,
        &-location,
        &-perks {
            width: 15rem;
        }

        &-vibe {
            width: 20rem;
        }

        &-from,
        &-amenities {
            width: 10rem;
        }

        &-name {
            color: #5E5ADB;
        }

        &__location {
            max-width: 15rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__perks {
            height: 2rem;
            width: fit-content;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.8rem;
            display: block;
            color: #14804A;
            background-color: #E1FCEF;
            padding: 0 0.8rem !important;
            border-radius: 4px;

            &::before {
                content: '';
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 2px;
                background-color: #38A06C;
                display: inline-block;
                margin-right: 0.6rem;
            }
        }
    }

    &__count {
        display: none;

        @media(min-width: $lg) {
            display: table;
            padding: 0;
            font-size: 1.4rem;
            line-height: 2rem;
            position: fixed;
            bottom: 1.8rem;
            right: 25rem;
            z-index: 50;
        }
    }
}

.main-page__tabs-item.active-tab.main-page__tabs-item::after {
    width: 100%;
    transition: all 0.5s;
}