.sidebar {
    height: 100vh;
    background-color: $mainColor;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 25.6rem;
    left: -25.6rem;
    transition: all .2s ease;

    &.active {
        left: 0;
    }
    
    @media(min-width: $lg) {
        left: 0;
    }

    &__wrapper {
        overflow: auto;
        padding: 2.7rem 0.8rem 3rem 1.6rem;
    }

    &-logo {
        @media(min-width: $lg) {
            margin-bottom: 3.6rem;
        }

        & > img {
            width: 9.9rem;
            height: 2.4rem;
        }
    }

    &-block {
        margin-bottom: 3.6rem;
        margin-left: -0.4rem;
    }

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.4rem;
        font-weight: 500;
        padding: 1rem;
        border-radius: 6px;
        width: 23rem;
        transition: all 0.5s ease-in-out;
        
        @media(min-width: $lg) {
            cursor: pointer;
            
            &:hover {
                color: $fourthColor;
                background-color: #4B5563;
                transition: all 0.5s ease-in-out;
                transform: scale(1.1);

                & > svg {
                    stroke: $fourthColor;
                    transition: all 0.5s ease-in-out;
                }
            }
        }

        & > svg {
            stroke: $fontColor;
            transition: all 0.5s ease-in-out;
        }

        &__wrap {
            justify-content: space-between;
        }

        &__community {
            display: flex;
            align-items: center;

            &:hover {
                & > svg {
                    stroke: $fourthColor;
                    transition: all 0.5s ease-in-out;
                }
            }

            & > svg {
                stroke: $fontColor;
                transition: all 0.5s ease-in-out;
            }
        }
    }
    
    &-name {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-left: 1.2rem;
        font-weight: 500;
    }

    &-group {
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 600;
        color: $secondaryColor;
        margin-bottom: 1.2rem;
    }

    &__open {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 16.5rem;
        right: -4.7rem;
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 0 50% 50% 0;
        z-index: 100;

        @media(min-width: $lg) {
            display: none;
        }

        & > svg {
            width: 25px;
            transform: rotate(180deg);
        }
    }
}

.sidebar.active .sidebar__open svg {
    transform: rotate(0);
}