<div class="main-page">
    <div>
        <div class="main-page__wrap">
            <div>
                <ul class="main-page__tabs" data-tab-nav>
                    <li class="main-page__tabs-item active-tab" data-href="#hotels">
                        <a href="#">
                            <span class="main-page__tabs-name">Hotels</span>
                            <span class="main-page__tabs-number">170,802</span>
                        </a>
                    </li>

                    <li class="main-page__tabs-item" data-href="#cruises">
                        <a href="#">
                            <span class="main-page__tabs-name">Cruises</span>
                            <span class="main-page__tabs-number">57</span>
                        </a>
                    </li>

                    <li class="main-page__tabs-item" data-href="#tours">
                        <a href="#">
                            <span class="main-page__tabs-name">Tours</span>
                            <span class="main-page__tabs-number">9</span>
                        </a>
                    </li>

                    <li class="main-page__tabs-item" data-href="#cars">
                        <a href="#">
                            <span class="main-page__tabs-name">Cars</span>
                            <span class="main-page__tabs-number">13</span>
                        </a>
                    </li>
                </ul>
            </div>

            <button class="main-page__btn" data-modal="#modal">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3C10.5523 3 11 3.44772 11 4V9H16C16.5523 9 17 9.44772 17 10C17 10.5523 16.5523 11 16 11H11V16C11 16.5523 10.5523 17 10 17C9.44772 17 9 16.5523 9 16V11H4C3.44772 11 3 10.5523 3 10C3 9.44771 3.44772 9 4 9L9 9V4C9 3.44772 9.44772 3 10 3Z" fill="white"/>
                </svg>
                <span>New Supply</span>
            </button>
        </div>

        <div>
            <div id="hotels" class="main-page__content active-tab">
                <div>
                    <div class="main-page__options">
                        <div class="main-page__input-wrap">
                            <div class="relative">
                                <div class="main-page__search">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4ZM2 8C2 4.68629 4.68629 2 8 2C11.3137 2 14 4.68629 14 8C14 9.29583 13.5892 10.4957 12.8907 11.4765L17.7071 16.2929C18.0976 16.6834 18.0976 17.3166 17.7071 17.7071C17.3166 18.0976 16.6834 18.0976 16.2929 17.7071L11.4765 12.8907C10.4957 13.5892 9.29583 14 8 14C4.68629 14 2 11.3137 2 8Z" fill="#9CA3AF"/>
                                    </svg>
                                </div>
                                <div>
                                    <input class="main-page__input" placeholder="Search items" aria-controls="example" />
                                </div>
                            </div>
                            <button class="main-page__input-btn" data-modal="#modal">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.5 3.5C2.5 2.94771 2.94772 2.5 3.5 2.5H16.5C17.0523 2.5 17.5 2.94772 17.5 3.5V5.41912C17.5 5.68434 17.3946 5.93869 17.2071 6.12623L11.9596 11.3738C11.772 11.5613 11.6667 11.8157 11.6667 12.0809V14.1667L8.33333 17.5V12.0809C8.33333 11.8157 8.22798 11.5613 8.04044 11.3738L2.79289 6.12623C2.60536 5.93869 2.5 5.68434 2.5 5.41912V3.5Z" stroke="#9CA3AF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <span>Filters</span>
                            </button>
                        </div>
            
                        <div class="main-page__checks">
                            <button class="main-page__check-btn main-page__check-in">Check In</button>
                            <button class="main-page__check-btn">Check Out</button>

                            <div class="select-wrapp main-page__check-btn">
                                <select class="select-default">
                                    <option value="Guests"></option>
                                    <option>Colin Nelson</option>
                                    <option>Gresham Carr</option>
                                    <option>Virgil Grant</option>
                                    <option>Gilbert Hopkins</option>
                                    <option>Dennis Dinwiddie</option>
                                    <option>Mia Pope</option>
                                    <option>Jessica Bird</option>
                                </select>                
                            </div>
                        </div>
                    </div>
            
                    <div class="main-page__table-wrapper">
                        <table id="example" class="table main-page__table">
                            <thead>
                                <tr>
                                    <th class="main-page__table-check">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" class="custom-checkbox__input all-checkboxes" />
                                        <span class="custom-checkbox__input-fake"></span>
                                    </label>
                                    </th>
                                    <th class="main-page__table__name">Name</th>
                                    <th class="main-page__table-supplier">Supplier</th>
                                    <th class="main-page__table-location">Location</th>
                                    <th class="main-page__table-vibe">Vibe</th>
                                    <th class="main-page__table-perks">Perks</th>
                                    <th class="main-page__table-from">From</th>
                                    <th class="main-page__table-amenities">Amenities</th>
                                </tr>
                            </thead>

                            <tbody class="main-page__item"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="cruises" class="main-page__content">
                <div></div>
            </div>
            <div id="tours" class="main-page__content">
                <div></div>
            </div>
            <div id="cars" class="main-page__content">
                <div></div>
            </div>
        </div>

        <span class="main-page__count">Rows per page:</span>
    </div>
</div>